.category {
	width: 400px;
	height: 450px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	margin: 50px auto;
}

.category__title {
	width: 100%;
}

.category__price {
	width: 100%;
}


.category__categoryId {
	width: 100%;
}

.category__description {
	width: 100%;
	height: 70px;
}

.category__image {
	width: 100%;
}

.category__btn {
	width: 100px;
}

.category__btn_add-image {
}